[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
numpy = "*"
jupyterlab = "*"
beautifulsoup4 = "*"
requests = "*"
lxml = "*"
glob2 = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.11"
